.legends-container {
  padding: 1.5em 0 0 0;
}

.legends-container > ul {
  margin: auto;
  padding: 0;
  text-align: center;
}

.legends-container ul > li {
  display: inline-block;
  margin: auto .5em;
}

.legends-container ul > li > span::before {
  content: '■';
}
