.navber-nav > li > a {
  box-sizing: border-box;
  border-bottom: 2px solid white;
  transition: border .5s;
}

.navber-nav > li > a.active {
  background-color: white;
  border-bottom: 2px solid gray;
}