.app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0px 0px 4px rgba(100, 100, 100, 0.4);
};

li.nav-larger {
  padding: 0
}

li.nav-larger > a {
  color: black;
  height: 50px;
  padding: 15px 0;
  box-sizing: border-box;
  border-bottom: 0px solid rgba(255, 255, 255, 0);
  transition: color .25s, border .25s;
}

li.nav-larger > a:hover {
  background-color: inherit;
  border-bottom: 3px solid gray;
}

li.nav-larger > a:focus {
  background-color: inherit;
}

li.nav-larger.active > a {
  border-bottom: 3px solid royalblue;
}

.dropdown-menu > li > a {
  padding: 10px 16px;
}
